@{
    ViewBag.Title = "Access Denied";
}

<div class="text-center">
    <h2 class="text-danger">Access Denied</h2>
    <h5 class="text-danger">You dont have permission to view this resources</h5>
    <img src="~/images/no-access.png" width="250" height="250" />
</div>