<h3>
    If you have an account with us, we have sent an email
    with the instructions to reset your password.
</h3>
<h3>If it doesn’t appear within a few minutes, <span style="color:red"> check your spam folder. </span></h3>

<div class="mt-2">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home Page</a>
</div>